/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require video-js
 */

/* font-family: 'Dancing Script', cursive;  LOGO
 font-family: 'Handlee', cursive;           DESCRIPTIONS
 font-family: 'Roboto', sans-serif;         HEADERS/INFO


 LG G3 IS 360x640??
 */

a{
  text-decoration: none;
  color: #333;
  text-decoration: underline;
}
a:hover{
  color: #ff99ff;
}
body{
  height: 100%;
  width: 100%;
  background-color: #f9ebd2;
  margin: 0;
}
h2{
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
h1{
  text-align: center;
  font-family: 'Handlee', cursive;
}
 /*********************HEADER********************/

 #header{
 	background-color:#ffccff;
 	margin: 0;
 	padding: 0;
 	float: top;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 1em;
  padding-left: .5em;
  padding-top: .5em;
  }

 #head_links{
 	display: block;
 }
 #head_title{
 	font-family: 'Dancing Script', cursive;
 	font-size: 3.5em;
 	display: block;

}
 #header a:hover{
 	color: white;
 }


 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333;
     font-family: 'Roboto', sans-serif;
 }

 li {
     float: left;
 }

 li a, .dropbtn {
     display: inline-block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }

 li a:hover, .dropdown:hover .dropbtn {
     background-color: #999;
 }

 li.dropdown {
     display: inline-block;
 }

 .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 }

 .dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: left;
 }

 .dropdown-content a:hover {background-color: #ffccff}

 .dropdown:hover .dropdown-content {
     display: block;
 }




 /*********************HEADER********************/


 /*********************FLASHES********************/

.notice{
  text-align: center;
  color: red;
  font-size: 2em;
  text-decoration: underline;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.alert{
  text-align: center;
  color: red;
  font-size: 2em;
  text-decoration: underline;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}


 /*********************FLASHES********************/


 /*********************GALLERY********************/

 .flickr_pagination {
   text-align: center;
   padding: 0.3em;
   cursor: default; }
   .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
     padding: 0.2em 0.5em; }
   .flickr_pagination .disabled {
     color: #aaaaaa; }
   .flickr_pagination .current {
     font-style: normal;
     font-weight: bold;
     color: #ff0084; }
   .flickr_pagination a {
     border: 1px solid #dddddd;
     color: #333;
     text-decoration: none; }
     .flickr_pagination a:hover, .flickr_pagination a:focus {
       border-color: #003366;
       background: #ffccff;
       color: #ff0084; }
   .flickr_pagination .page_info {
     color: #aaaaaa;
     padding-top: 0.8em; }
   .flickr_pagination .previous_page, .flickr_pagination .next_page {
     border-width: 2px; }
   .flickr_pagination .previous_page {
     margin-right: 1em; }
   .flickr_pagination .next_page {
     margin-left: 1em; }

#full_gallery{
  width: 100%;
  max-width: 1505px;
  height: 200%;
  display:block;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  text-align: center;
}

.gallery{
  width: 500px;
  height: 400px;
  margin: 0;
  float: left;
  object-fit: cover;
	object-position: 50% 25%;
}
.gallery:hover{
   -webkit-filter: blur(5px);
   -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
       -ms-transition: all 1s ease;
           transition: all 1s ease;
}
.gallery:hover +span.text-content span {
  opacity: 1;
  -webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
}
.gallery:hover + span.text-content{
  opacity: 1;
  -webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
}
span.text-content:hover{
  opacity: 1;
  -webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
}

span.text-content span:hover{
  opacity: 1;
  -webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
}


.gallery_link{
  width: 500px;
  height: 400px;
  display: inline-block;
  float: left;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 50px;
  margin-left: 185px;
  margin-top:  140px;
  position: absolute;
  width: 150px;
  opacity: 0;
  font-size: 20px;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
  font-size: 20px;
}

.blurred{
 -webkit-filter: blur(5px);

}


/*********************GALLERY********************/


/*********************IMAGE SHOW********************/

/* Style the Image Used to Trigger the Modal */
#myImg {
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s;
}

#myImg:hover {
  -webkit-filter: brightness(+120%);
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

/* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   padding-top: 100px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
   margin: auto;
   display: block;
   min-width: 100%;
   min-height:100%;
   object-fit: cover;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
   margin: auto;
   display: block;
   width: 80%;
   max-width: 700px;
   text-align: center;
   color: #ccc;
   padding: 10px 0;
   height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
   -webkit-animation-name: zoom;
   -webkit-animation-duration: 0.6s;
   animation-name: zoom;
   animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
   from {-webkit-transform:scale(0)}
   to {-webkit-transform:scale(1)}
}

@keyframes zoom {
   from {transform:scale(0)}
   to {transform:scale(1)}
}

/* The Close Button */
.close {
   position: absolute;
   top: 15px;
   right: 35px;
   color: #f1f1f1;
   font-size: 40px;
   font-weight: bold;
   transition: 0.3s;
}

.close:hover,
.close:focus {
   color: #bbb;
   text-decoration: none;
   cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
   .modal-content {
       width: 100%;
   }
}


.show_pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 70em;
  max-width: 100%;
}
#ratings{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: .8em;
}
.star{
  display: inline-block;
}
.right_stars{
  margin-left: 20px;
  display: inline-block;
}
#des{
  font-size: 3.5em;
  text-align: center;
  color: #333;
  font-family: 'Handlee', cursive;
}
/*********************IMAGE SHOW********************/


/*********************VIDEO GALLERY********************/

#video_gallery{
  width: 85%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1580px;
}
.video_link{
  display: inline-block;
  width: 500px;
  height: 300px;
  margin-bottom: 0;
  margin-left: 20px;
  margin-top: 40px;
}
.video_link:hover{
  background-color:#ffccff;
  border-right: 1px solid #333;
  border-left: 1px solid #333;
  border-top: 1px solid #333;

}

.video_thumb{
  width: 500px;
  height: 300px;
}
.desc{
  display: inline-block;
  color: black;

  margin-top: 0;
  width: 500px;
  font-size: 26px;
  font-family: 'Roboto', sans-serif;
  background-color:#ffccff;
  border: 1px solid #333;
}

.edit_link{
  text-align: center;
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #333;
  background-color:#ffccff;
  padding-bottom: .3em;
  width: 100%;
  position: sticky;
  bottom:0;
  margin-bottom: 0;

}
.edit_link:hover{
  color: white;
}


/*********************VIDEO GALLERY********************/


/*********************FORM INPUTS********************/
#full_form{
  width: 50%;
  max-width: 765px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.form-inputs{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-inputs label{
  display: block;
  text-align: left;
}

.form-inputs input{
  width: 100%;
  padding: 12px 20px;
}

.form-inputs select{
  width: 105.5%;
  padding: 12px 15px;
}
 .nsfw_input{
  display: inline-block;
  color: red;
}
.btn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ffb3ff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-bottom: 1em;
  margin-top: .5em;
}

.btn:hover {background-color: #ff99ff}

.btn:active {
  background-color: #ff99ff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn_destroy {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ffb3ff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-bottom: 1em;
  margin-top: .5em;
}

.btn_destroy:hover {
  background-color: #ff99ff;
  color: white;
}

.btn_destroy:active {
  background-color: #ff99ff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*********************FORM INPUTS********************/





/*********************HOME PAGE********************/
.home_div_filler{
  height: 50px;
  background-color: #333;
  margin-top: -50px;
}
.home_div{
  background-color: #ffccff;
  color: #333;
  text-align: center;
  padding-bottom: 10px;
}
.home_div h1{
  margin: 0;
  font-size: 45px;
}
.home_pic{
  display: inline-block;
  height: 601px;
  width: 30%;
  object-fit: cover;
  object-position: 68% 50%;
}
.home_pic2{
  display: inline-block;
  height: 601px;
  width: 30%;
  object-fit: cover;
  object-position: 50% 50%;
}
.home_video{
  display: inline-block;
  margin-bottom: 150px;
  width: 30%;
}
.home_gif{
  height: 253px;
  width: auto;
  display: inline-block;
}
.background-1{
  background-image: url('home1.jpg');
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.background-2{
  background-image: url('home3.jpg');
  min-height: 750px;
  background-attachment: fixed;
  background-position:center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.background-3{
  background-image: url('home2.jpg');
  min-height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}















/*********************HOME PAGE********************/













/*********************MEDIA QUERIS********************/
@media only screen and (max-width: 1515px) {
    #full_gallery{
      width: 1020px;
      display: block;
      overflow: none;
    }
    #last_gallery_link{
      float: none;
    }

  }
  @media only screen and (max-width: 1020px) {
      #full_gallery{
        width: 600px;
        display: block;
        overflow: none;
        text-align: center;
      }
      #last_gallery_link{
        float: none;
      }
      .gallery_link{
        float: none;
      }
    }

@media only screen and (max-width: 1000px) {
  .home_pic{
    width: 49%
  }
  .home_pic2{
    width: 49%;
    object-position: 70% 50%;

  }
  .home_video{
    display: none;
  }
  }
@media only screen and (max-width: 570px) {
      #video_gallery{
        width: 100%;
      }
      .video_link{
        width: 100%;
        margin-left: 0;
      }
      .video_thumb{
        width: 100%;
      }
      .desc{
        width: 100%;
      }

    }
@media only screen and (max-width: 640px) {
    #full_gallery{
      width: 100%;
      height: 200%;
      display: block;
      overflow: none;
    }
    .gallery{
      width: 100%;
      height: 375px;
      margin: 0;
      float: left;
      object-fit: cover;
      object-position: 50% 25%;
    }
    .gallery_link{
      width: 100%;
      height: 375px;
      display: inline-block;
      float: left;
    }
    span.text-content {
      margin-left: 105px;
      margin-top:  120px;
    }
    .modal-content {
       height: auto;
       width: auto;
       object-fit: cover;
       overflow: scroll;
    }
    #home_link{
      display: none;
    }
  }
@media only screen and (max-width: 360px) {
    /* For mobile phones: */
    #head_title{
     font-size: 3.3em;
   }
   li a, .dropbtn {
     padding: 14px 14px;
   }
   #des{
     font-size: 2.5em;
     text-align: center;
   }

}
